/* Resetando margens e preenchimentos */
* {
 margin: 0;
 padding: 0; 
 box-sizing: border-box;
}


/* Estilos gerais */
body {
 font-family: 'Arial', sans-serif;
 line-height: 1.6;
 background-color: #010000;
 color: #16074d;
}


/* Cabeçalho */
header {
 background-color: #f9f8b1;
 color: rgb(158, 24, 93);
 padding: 10px 0;
 text-align: center;
}


header h1 {
 margin-bottom: 10px;
}


nav ul {
 list-style: none;
}


nav ul li {
 display: inline;
 margin: 0 15px;
}


nav ul li a {
 color: white;
 text-decoration: none;
 font-weight: bold;
}


/* Seções principais */
main {
 padding: 20px;
}


section {
 margin-bottom: 20px;
}


section h2 {
 color: #d661e6;
 margin-bottom: 10px;
}


article {
 background-color: white;
 padding: 15px;
 margin-bottom: 10px;
 border-radius: 5px;
 box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}


article h3 {
 color: #ff6600;
 margin-bottom: 5px;
}


aside {
 background-color: #bd8223;
 padding: 15px;
 border-radius: 5px;
 box-shadow: 0 2px 5px rgba(66, 81, 10, 0.1);
}


/* Rodapé */
footer {
 background-color: #a2129d;
 color: rgb(94, 10, 10);
 padding: 20px;
 text-align: center;
}


footer h2 {
 margin-bottom: 10px;
}